* {margin:0; padding:0; list-style:none; text-decoration:none; color:inherit; box-sizing:border-box;}

::selection {background-color:#333; color:#fff;}

.layout {display:flex; flex-direction:column; min-height:100vh; padding-top:68px; background-color:#fff;}

/* header container */
.header {position:fixed; top:0; left:0; width:100%; background-color:#eee; color:#fff; z-index:1000;}
.header .header-container {display:flex; justify-content:space-between; gap:20px; align-items:center; padding:0 40px;}
.header .header-container .logo-section {display:flex; align-items:center; height:68px; line-height:1em;}
.header .header-container .logo-section div.logo-background {display:inline-block; cursor: pointer;}
.header .header-container .logo-section div.logo-background img {width:auto; height:24px;}
/* // header container */


/* header navigation */
.nav_wrap {display:flex; flex:1; width:100%; justify-content:flex-end; align-items:center;}
@media screen and (max-width:768px) {
	.layout {padding-top:60px;}
	.nav_wrap {flex-direction:column; justify-content:flex-start; position:fixed; top:0; right:0; bottom:0; width:auto; max-width:280px; padding-bottom:20px; color:#fff; transform:translateX(102%);}
	.nav_wrap.active {transform:translateX(0); z-index:10; background-color:#333;}
	.header .header-container nav.navigation {flex:1; flex-direction:column; width:100%; padding:0 20px;}
	.header .header-container nav.navigation .nav-item {width:100%;}
	.header .header-container nav.navigation .nav-item span {color:#fff;}
}

/* // header navigation */


/* header navigation */
.header .header-container nav.navigation {display:flex; align-items:center; gap:20px;}
.header .header-container nav.navigation .nav-item {display:flex; align-items:center; position:relative; height:68px; padding:21px 12px; color:#666; cursor:pointer;}
.header .header-container nav.navigation .nav-item span {white-space:nowrap;}
.header .header-container nav.navigation .nav-item::after {content:""; display:block; position:absolute; bottom:0; left:50%; width:0; height:2px; background-color:#FF3A4A; transition: all 0.2s ease;}
.header .header-container nav.navigation .nav-item.active {color:#000; font-weight:700;}
.header .header-container nav.navigation .nav-item.active::after {left:0; width:100%;}
/* // header navigation */

/* header logged */
.logged-in-section {display:flex; align-items:center; gap:20px;}
.logged-in-section .user-profile-section  {display:flex; align-items:center; gap:10px;}
.logged-in-section .user-profile-section .user-profile-avatar {display:flex; justify-content:center; align-items:center; width:32px; height:32px; border-radius:100%; background: linear-gradient(135deg, #667eea, #764ba2);}
.logged-in-section .user-profile-section .user-info .user-email {color:#333; font-size:14px; font-family:'Pretendard';}
/* header logged */

/* header login/logout button */
.logged-in-section button.login-btn,
.logged-in-section button.logout-btn {width:98px; height:40px; border:1px solid #ccc; border-radius:4px; font-size:18px; font-weight:500; cursor:pointer;}
.logged-in-section button.login-btn {background-color:#fff; color:#333;}
.logged-in-section button.logout-btn {background-color: rgba(220, 53, 69, .1); border-color: #dc3545; color: #ff6b7a;}
.logged-in-section button.login-btn:hover {background-color: #fff; color: #333}
.logged-in-section button.logout-btn:hover {background-color: #dc3545; color:#fff;}
/* header login/logout button */

/* header search */
.search-section {margin-left:40px;}
.search-section .header-search-bar {position:relative; width:240px; height:40px;}
.search-section .header-search-bar .header-search-input {width:100%; height:100%; margin:0; padding:10px 40px 10px 10px; border:0; border-radius:4px; background-color:rgba(255,255,255,0.7); font-size:14px; color:#333; outline:0;}
.search-section .header-search-bar .header-search-input::placeholder {color:#888;}
.search-section .header-search-bar .header-search-icon {display:flex; justify-content:center; align-items:center; position:absolute; top:6px; right:10px; width:28px; height:28px; cursor:pointer;}
/* // header search */

/* mobile */
@media screen and (max-width:768px) {
    .header .header-container {padding:0 20px;}
	.header .header-container .logo-section {height:60px;}
	.header .header-container nav.navigation {gap:8px;}
	.header .header-container nav.navigation .nav-item {height:50px; padding:12px;}
	.header .header-container nav.navigation .nav-item.active {border-bottom:0}
	.header .header-container nav.navigation .nav-item.active::after {height:1px; background-color:#f9f9f9;}

	.search-section {margin:0; padding:20px;}
	.search-section .header-search-bar .header-search-input {background-color:#fff;;}

	.auth-section {width:100%; padding:0 20px;}
	.logged-in-section {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; width:100%;}
	.logged-in-section .user-profile-section .user-info .user-email {color:#fff;}
}
/* mobile */

/* mobile menu */
.btn_nav_open,
.btn_nav_close {display:none;}
@media screen and (max-width:768px) {
	.btn_nav_open {display:flex; justify-content:flex-end; align-items:center; width:100%; height:60px;}
	.btn_nav_open button {position:relative; width:40px; height:40px; margin:0; padding:0; border:0; overflow:hidden; background-color:transparent; cursor:pointer;}
	.btn_nav_open button::before,
	.btn_nav_open button::after {content:""; }
	.btn_nav_open button::before,
	.btn_nav_open button::after,
	.btn_nav_open button span {display:block; position:absolute; top:50%; left:50%; width:60%; height:1.5px; background-color: #333;}
	.btn_nav_open button::before {transform:translate(-50%,calc(-50% - 8px));}
	.btn_nav_open button::after {transform:translate(-50%,calc(-50% + 8px));}
	.btn_nav_open button span {transform:translate(-50%,-50%); white-space:nowrap; color:transparent;}
	
	.btn_nav_close {display:flex; justify-content:flex-end; align-items:center; width:100%; height:60px; padding:0 20px;}
	.btn_nav_close button {position:relative; width:40px; height:40px; margin:0; padding:0; border:0; overflow:hidden; background-color:transparent; cursor:pointer;}
	.btn_nav_close button::before,
	.btn_nav_close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:60%; height:1px; background-color: #fff;}
	.btn_nav_close button::before {transform:translate(-50%,-50%) rotate(-45deg);}
	.btn_nav_close button::after {transform:translate(-50%,-50%) rotate(45deg);} 
	.btn_nav_close button span {position:relative; z-index:-1; white-space:nowrap; color:transparent;}
}
/* mobile menu */




/* sidebar */
.sidebar {width:280px; height:calc(100vh - 68px); background-color:#fff; border-right:1px solid #ddd; position:fixed; left:0; top:68px; overflow-y:auto; z-index:900;}
.sidebar .sidebar-container {display:flex; flex-direction:column; gap:10px; width:100%; padding:20px;}
.sidebar .sidebar-container .menu-section {display:flex; flex-direction:column; width:100%;}
.sidebar .sidebar-container .menu-section .menu-large {display:flex; align-items:center; width:100%; height:52px; padding:16px 20px; border-radius:8px; cursor:pointer; transition:background-color .2s ease;}
.sidebar .sidebar-container .menu-section .menu-large span {color:#333; font-size:14px; line-height:1.448; font-weight:700; font-family:'Noto Sans KR', sans-serif; letter-spacing:-.04em;}

.sidebar .sidebar-container .menu-section .menu-medium {display:flex; align-items:center; justify-content:space-between; position:relative; width:100%; height:40px; padding:10px 20px; border-radius:8px; transition:background-color .2s ease; cursor:pointer;}
.sidebar .sidebar-container .menu-section .menu-medium.expandable {display:flex; align-items:center; justify-content:space-between;}
.sidebar .sidebar-container .menu-section .menu-medium span {color:#666; font-size:14px; line-height:1.448; font-weight:400; font-family:'Noto Sans KR', sans-serif; letter-spacing:-.04em;}

.sidebar .sidebar-container .menu-section .menu-medium.expandable .arrow-icon {display:flex; align-items:center; justify-content:center; width:14px; height:14px; transition:transform .2s ease; transform:rotate(180deg);}
.sidebar .sidebar-container .menu-section .menu-medium.expandable .arrow-icon img {width:11.09px; height:6.15px; object-fit:contain;}
.sidebar .sidebar-container .menu-section .menu-medium.expandable.expanded .arrow-icon {transform:rotate(0deg);}

.sidebar .sidebar-container .menu-section .menu-small {width:100%; height:40px; display:flex; align-items:center; padding:10px 40px; border-radius:8px; cursor:pointer; transition:background-color .2s ease;}
.sidebar .sidebar-container .menu-section .menu-small span {color:#666; font-size:14px; line-height:1.448; font-weight:400; font-family:'Noto Sans KR', sans-serif; letter-spacing:-.04em;}

.sidebar .sidebar-container .menu-section .menu-medium.active,
.sidebar .sidebar-container .menu-section .menu-small.active {background-color:#f0f0f0; border-left:3px solid #ff3a4a;}

.sidebar .sidebar-container .menu-section .menu-medium.active span,
.sidebar .sidebar-container .menu-section .menu-small.active span {color:#ff3a4a; font-weight:500;}

.menu-large:hover {
    background-color: #f8f8f8;
}
.menu-medium:hover {
    background-color:#f8f9fa;
}
.menu-small:hover {
    background-color:#f8f9fa;
    color:#ff3a4a;
}
/* // sidebar */
@media screen and (max-width:768px) {
    .sidebar {
        transform: translateX(-110%);
        transition:transform .3s ease, opacity .3s ease;
        z-index:1100;
        opacity:0;
    }
}




/* 공통화 작업 시 사용 예정 */
/*
.main-content {margin-left:0; padding:40px; transition:margin 0.2s ease;}
.main-content.with-sidebar {margin-left:280px;}
@media screen and (max-width:768px) {
    .main-content {margin-left:0; padding:0px; transition:margin 0.2s ease;}
    .main-content.with-sidebar {margin-left:0;}
}
*/
/* // 공통화 작업 시 사용 예정 */




/* 서브 컨텐츠용 */
/* 개발자 센터 소개 */
.pass-certificate-page {margin-left:280px; padding:40px 60px;}
.pass-content {padding:100px 0 40px;}
.pass-content .inner .tit_wrap {margin-bottom:47px; text-align:center;}
.pass-content .inner .tit_wrap h2 {color:#000; font-size:28px; line-height:34px; font-weight:700; word-break:keep-all;}
.pass-content .inner .tit_wrap p {margin-top:0.9375em; color:#555; font-size:16px; font-weight:400; word-break:keep-all;}

.pass-section {display:grid; grid-template-columns:auto auto;; max-width:1000px; gap:32px; margin:0 auto; text-align:left;}
.service-category {display:flex; flex-direction:column; position:relative; top:0; width:100%; width:484px; height:240px; padding:30px 30px 33px; background-color: #fff; border-radius:10px; border:1px solid #ddd; transition:all 0.2s ease-in-out;}
.service-category .category-header {display:flex; justify-content:space-between; gap:32px;}
.service-category .category-header .category-icon {width:84px; min-width:84px; height:84px;}
.service-category .category-header .category-icon img {display:block; width:100%;}
.service-category .category-header .category-info {display:flex; flex-direction:column; flex:1; gap:9px; width:100%;}
.service-category .category-header .category-info h3 {font-size:20px; line-height:1.5em; font-weight:700;}
.service-category .category-header .category-info p {font-size:14px; line-height:1.2em; font-weight:500; word-break:keep-all;}
.service-category .service-list {flex:1; padding-left:116px;}
.service-category .service-list .service-item {padding-top:16px; border-top:1px solid #ddd;}
.service-category .service-list .service-item ul {display:flex; flex-wrap:wrap; flex-direction:column; align-content:space-between; gap:12px; height:84px;}
.service-category .service-list .service-item ul li {display:flex; align-items:center; gap:6px; position:relative; color:#555; font-size:14px; line-height:16px; font-weight:500;}
.service-category .service-list .service-item ul li::before {content:""; display:block; width:16px; height:16px; background:url('../images/Group 251.png') no-repeat center center / contain;}
@media screen and (max-width:768px) {
    .pass-certificate-page {margin-left:0; padding:20px;}
	.pass-content {padding:0}
	/* .pass-content .inner .tit_wrap {padding:0 20px;} */
	.pass-section {display:flex; flex-direction:column; padding:0; gap:20px;}
	.service-category {width:100%; height:auto; gap:10px; padding:20px;}
	.service-category .category-header {flex-direction:row-reverse; align-items:center; gap:10px;}
	.service-category .category-header .category-icon {width:50px; min-width:auto; height:auto;}
	.service-category .category-header .category-info p {line-height:1.5em; word-break:keep-all;}
	.service-category .service-list {padding:0;}
	.service-category .service-list .service-item {border-top-style:dashed;}
}
/* // 개발자 센터 소개 */






/* passauth_dev_guide.html 기능 소개 (이름변경) guide -> feature */
.guide-intro-page {margin-left:280px;}

.guide-intro-header {display:flex; background:#ff3747; background:linear-gradient(90deg,#ff3747,#ff9558); padding:80px 0;}
.guide-intro-header .inner {width:100%; max-width:1080px; margin:0 20px; padding:0 40px;}
.guide-intro-header .txt_wrap {display:flex; flex-direction:column; align-items:flex-start; gap:12px;}
.guide-intro-header .txt_wrap h1 {color:#fff; font-size:32px; line-height:42px; font-weight:700; margin:0;}
.guide-intro-header .txt_wrap p {color:hsla(0, 0%, 100%, .9); font-size:16px; line-height:24px; margin:0;}

.guide-content {padding:80px 0 100px;}
.guide-content > .inner {width:100%; margin:0 auto; padding:0 40px;}

.guide-section {max-width:1200px; margin:0 auto;}
.guide-section + .guide-section {margin-top:100px;}

.guide-section .guide-body {display:flex; flex-direction:column; gap:60px 0; width:100%;}


/* 가이드 섹션 타이틀 */
.guide-title {display:flex; flex-direction:column; gap:8px; width:100%; margin-bottom:20px; color:#000;}
.guide-title h2 {font-size:24px; font-weight:700;}
.guide-title p {font-size:16px; font-weight:400;}
/* // 가이드 섹션 타이틀 */

/* 가이드 스크린샷 */
.guide-image-container {display:flex; flex-direction:column; justify-content:center; align-items:center; gap:40px; padding:60px 60px; border-radius:8px; background-color:#F8F8F8;}
.guide-image-container .guide-image-placeholder img {width:100%; border-radius:8px; box-shadow:0 1px 4px rgba(0,0,0,0.1)}
/* // 가이드 스크린샷 */

/* 이용방법 */
.guide-usage ol {display:flex; flex-direction:column; gap:40px;}
.guide-usage ol li {display:flex; flex-direction:column; align-items: flex-start;}
.guide-usage ol li div.guide-step-text {display:flex; align-items:flex-start; gap:6px 10px;}
.guide-usage ol li div.guide-step-text span.step {min-width:65px; padding:0 0.83333em; border-radius:14px; background-color:rgba(255,58,74,0.078); color:#FF3A4A; font-size:12px; line-height:2.16666em; font-weight:bold;}
.guide-usage ol li div.guide-step-text p.txt {flex:1; color:#000; font-size:14px; line-height:1.85714em; font-weight:700; word-break:keep-all;}
.guide-usage ol li div.guide-step-text p.txt strong {color:#FF3A4A;}
/* // 이용방법 */

/* 설정 바로 가기 */
.guide-detail {display:flex; flex-wrap:wrap; justify-content:space-between; gap:16px; width:100%; margin-top:24px;}
.guide-detail .guide-detail-item {width:calc(50% - 8px); padding:26px 24px; border-radius:8px; border:1px solid transparent; background-color:#f5f5f5; transition:all 0.3s ease; box-shadow:0 1px 4px rgba(255,255,255,0); cursor:pointer;}
.guide-detail .guide-detail-item .guide-detail-content {display:flex; flex-direction:column; justify-content:center; position:relative; gap:8px; width:100%; height:100%; padding-right:36px; font-size:14px;}
.guide-detail .guide-detail-item .guide-detail-content h4 {color:#000;}
.guide-detail .guide-detail-item .guide-detail-content p {color:#555; word-break:keep-all;}
.guide-detail .guide-detail-item .guide-detail-content::after {content:""; display:block; position:absolute; top:50%; right:0; width:36px; height:36px; background:url('../images/ico_arrow.png') no-repeat center / contain; transform:translateY(-50%); transition:right 0.24s ease-in-out;}
.guide-detail .guide-detail-item:hover {background-color:#fff; border-color:#f5f5f5; box-shadow:1px 2px 4px rgba(0,0,0,0.16);}
.guide-detail .guide-detail-item:hover .guide-detail-content::after {right:-6px;}
/* // 설정 바로 가기 */

@media (max-width:1024px) {
	.guide-detail {flex-direction:row; gap:10px; margin-top:14px;}
	.guide-detail .guide-detail-item {width:100%; padding:20px;}
}

@media (max-width:768px) {
	.guide-intro-page {margin-left:0;}
	

	.guide-intro-header {padding:40px 0;}
	.guide-intro-header .inner {padding:0 20px;}
	.guide-intro-header .txt_wrap h1 {font-size:24px; line-height:32px;}
	.guide-intro-header .txt_wrap p {font-size:14px;}

	.guide-content {padding:60px 0 80px;}
	.guide-content > .inner {padding:0 20px;}

	.guide-section + .guide-section {margin-top:50px;}
	.guide-section .guide-body {gap:30px;}

	.guide-title h2 {font-size:20px;}
	.guide-title p {font-size:14px;}
	.guide-image-container {gap:20px; padding:20px;}

	.guide-usage ol {gap:20px;}
	.guide-usage ol li div.guide-step-text {flex-direction:column;}

	.guide-detail .guide-detail-item .guide-detail-content::after {width:24px; height:24px;}
	.guide-detail .guide-detail-item:hover .guide-detail-content::after {right:-4px;}
}
/* // passauth_dev_guide.html 기능 소개 (이름변경) guide -> feature */
/* // 서브 컨텐츠용 */